Package: com.jeffresc.shortlook.plugin.contact-photo.kik
Name: Kik Profile Pictures for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.0.2
Architecture: iphoneos-arm
Description: Show Kik users' profile pictures in ShortLook when you receive a Kik notification!
Maintainer: JeffResc
Author: Jeff Rescignano
Section: Tweaks (ShortLook)
